 <!DOCTYPE html>
<html>
<head>
<title>D.E.E.S.</title>

<link rel="stylesheet" href="static/css/index.css">

</head>
<body>

<h1>D.E.E.S.</h1>
<p>Distributed Emergent Energy Systems</p>

<h2>System Specs</h2>
Refresh rate: 5 sec

<h3>Array</h3>
<div id="moduleCount">Modules: </div>
<div id="arrayVoltage">Array voltage: </div>
<div id="arrayCurrent">Array current: </div>
<div id="arrayPower">Array power: </div>

<h3>Loads</h3>
<div id="loadVoltage">Total load voltage: </div>
<div id="loadCurrent">Total load current: </div>
<div id="loadPower">Total load power: </div>
<div id="loadBranchCount">Load branches: 3</div>


<div class="branchInfo" id="branch1">
    <span id="branch1-state">Branch 1: off</span>
    <button type="button" id="branch1-status" onclick="setBranchStatus(1)">shedable</button> 
</div>

<div class="branchInfo" id="branch2">
    <span id="branch2-state">Branch 2: off</span>
    <button type="button" id="branch2-status" onclick="setBranchStatus(2)">shedable</button> 
</div>

<div class="branchInfo" id="branch3">
    <span id="branch3-state">Branch 3: off</span>
    <button type="button" id="branch3-status" onclick="setBranchStatus(3)">shedable</button> 
</div>

 <script src="static/js/index.js"></script> 

</body>
</html> 